{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('preview_image');
            output.src = reader.result;
            output.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }

</script>
{{/section}}

<form action="" method="post" enctype="multipart/form-data" >
    <div class="container-fluid" style="padding: 40px;">
        <div class="card">
            <div class="card-header">
                <h4>Cập nhật topping</h4>
            </div>
            <div class="card-body">
                <input class="form-control mb-3" type="text" placeholder="Readonly input here..." readonly
                    value="{{this.topping.topping_id}}" name="topping_id">
                <div class="d-flex align-items-center">
                    <div class="form-group">
                        <label for="productImg">Hình ảnh sản phẩm</label>
                        <input name="image" type="file" class="form-control-file" id="productImg"
                            onchange="previewImage(event)">
                    </div>
                    <img id="preview_image" src="/images/{{this.topping.image_href}}" class="img-thumbnail" alt="..."
                        style="width: 100px; height: 100px;">
                </div>
                <div class="form-group">
                    <label for="txtName">Tên</label>
                    <input type="text" name="topping_name" id="txtName" class="form-control" placeholder=""
                        aria-describedby="helpId" value="{{this.topping.topping_name}}">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <label for="txtCostPrice">Giá gốc</label>
                    <input type="text" name="cost_price" id="txtCostPrice" class="form-control" placeholder=""
                        aria-describedby="helpId" value="{{this.topping.cost_price}}">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>
                <div class="form-group">
                    <label for="txtSalePrice">Giá bán</label>
                    <input type="text" name="sale_price" id="txtSalePrice" class="form-control" placeholder=""
                        aria-describedby="helpId" value="{{this.topping.sale_price}}">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>

                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="defaultCheck1" name="is_available" {{#if
                        this.topping.is_available}}checked{{/if}}>
                    <label class="form-check-label" for="defaultCheck1">
                        Có sẵn
                    </label>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a name="" id="" class="btn btn-outline-success" href="/manager/topping" role="button">
                    <i class="bi bi-skip-backward-fill"></i>
                </a>
                <button type="submit" class="btn btn-danger" formaction="/manager/topping/del">
                    <i class="bi bi-trash"></i>
                    delete
                </button>
                <button type="submit" class="btn btn-primary" formaction="/manager/topping/patch">
                    <i class="bi bi-check2"></i>
                    save
                </button>

            </div>
        </div>
    </div>
</form>