<div class="d-flex justify-content-start mb-3 area_list_block">

    <a name="" id="" class="btn btn-primary {{#ifEquals "0" activeAreaID}}is_active{{/ifEquals}}"
        href="/casher/table_manage?areaId=0" role="button">
        Tất cả
    </a>

    {{#each this.areas}}
    <a name="" id="" class="btn btn-primary {{#ifEquals area_id ../activeAreaID}}is_active{{/ifEquals}}"
        href="/casher/table_manage?areaId={{area_id}}" role="button">
        {{name}}
    </a>
    {{/each}}
</div>
<div id="table-manage" class="row scrollable-content-table" style="flex:1">
    {{#if this.empty}}
    <div class="card-body">
        null
    </div>
    {{else}}
    {{#each this.tables}}
    <div class="col-sm-3 mb-3" data-table-id="{{table_id}}">
        <div class="card">
            <div class="table_image_block card-body table-choose {{#ifEquals true is_available}}active{{/ifEquals}}">
                <img src="/casher/images/bàn.png" class="bn" alt="">
            </div>
            <div class="card-footer text-muted d-flex flex-column justify-content-center align-items-center">
                <h6 class="mb-0">{{table_name}}</h6>

                {{#if is_available}} <!-- Kiểm tra nếu is_available là 1 -->
                <div class="table-status">Đang chọn món...</div>
                {{else}} <!-- Nếu is_available là 0 -->
                <div class="table-status">Trống</div>
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>