<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/customer/css/Cart.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body style="padding: 0;">
    <div class="card" style="width: 40rem; height: 100vh;">
        <div class="card-header cart-header">
            <a href="/menu">
                <i class="bi bi-arrow-left"></i>
            </a>

            <div id="cart-title">
                <div>Huy Coffee</div>
                <div id="cart-table">(Bàn 1)</div>
            </div>
            <i class="bi bi-bell-fill"></i>
        </div>
        <div class="card-body">
            {{#each orders}}
            <div class="order-list mb-3">

                <div class="header-order d-flex" style="justify-content: space-between;">
                    <h6>#Mã đơn: {{order_id}}</h6>
                    <h6 class="time-order">
                        <i class="bi bi-clock-history"></i>&nbsp;&nbsp;{{formatDate order_date "DD/MM/YYYY HH:mm"}}
                    </h6>
                    {{!-- <div class="d-flex justify-content-end">
                        <input class="btn-checkbox" type="checkbox" id="active-order" class="form-check-input">
                    </div> --}}
                </div>
                <div>
                    {{#each order_items}} <!-- Lặp qua các orderItems trong từng đơn hàng -->
                    <hr style="opacity: 0.1;">
                    <div class="order-item">
                        <div class="d-flex">
                            <div class="order_item_quantity me-3">{{quantity}}x</div>
                            <div class="d-flex flex-column">
                                <h5>{{name}}</h5>
                                {{#each toppings}}
                                <div class="order_item_topping_name">
                                    {{topping_name}}
                                </div>
                                {{/each}}
                                <div class="order_item_note" style="color: #aaa">{{note}}</div>
                            </div>
                        </div>
                        <div class="text-price">
                            {{format_price total_price}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                <hr>
                <div class="text-muted row">
                    <div class="col-6 d-flex" style="justify-content: start;">
                        Status: <h5 class="ms-3" style="color: red">{{status}}</h5>
                    </div>
                </div>
                <div class="" style="display: flex; justify-content: space-between; ">
                    <div class="">Total price</div>
                    <div class=""  >
                        <h5 style="font-weight: 600;">{{format_price total_price}}</h5>
                    </div>
                </div>

            </div>

            <div class="row mt-3">
                {{#each order_status_history}}
                <div class="col-3">
                    <div class="card">
                        <div class="card-header">
                            <h5>{{status}}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                            <h5>Reason: </h5> {{reason}}</p>
                            <hr>
                            <p class="card-text">
                            <h5>Datetime:</h5>{{change_date}}</p>
                        </div>
                    </div>
                </div>

                {{/each}}
            </div>

            <div style="width: 100%; border-top: 3px solid black; margin: 24px 0;"></div>
            {{/each}}
        </div>
        <div class="sticky-footer card-footer text-muted"
            style="background-color: #fff; position: fixed: bottom: 0; left:0; right: 0;">
            <div id="total">
                <div>Total</div>
                <div id="total-price" style="font-weight: 700;">{{total_price}} VND</div>
            </div>
            <a type="button" class="btn btn-primary btn-cart-order" href="/customer/confirm_payment">Thanh toán</a>
        </div>
    </div>
</body>

</html>