<form action="" method="post">
    <div class="container-fluid" style="padding: 40px;">
        <div class="card">
            <div class="card-header">
                <h4>Thêm bàn</h4>
            </div>
            <div class="card-body">
                <input class="form-control mb-3" type="text" placeholder="Readonly input here..." readonly
                    value="{{table.table_id}}" name="table_id">
                <div class="form-group">
                    <label for="txtName">Tên bàn</label>
                    <input type="text" name="table_name" id="txtName" class="form-control" placeholder=""
                        aria-describedby="helpId" value="{{table.table_name}}">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>
                <hr>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Khu bàn</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="area_id"
                        value="{{table.area_id}}">
                        {{#each this.areas}}
                        <option value={{this.area_id}} {{#ifEquals this.area_id ../table.area_id}}selected{{/ifEquals}}>
                            {{this.name}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <hr>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">QR Code</label>
                    <div class="d-flex align-items-center">
                        <img id="qrcode_image" src="" class="img-thumbnail" alt="..."
                            style="width: 100px; height: 100px;">
                        <input id="qrcode_text" class="form-control ml-3" type="text"
                            placeholder="Readonly input here..." readonly value="{{table.qr_code}}" name="qr_code">
                    </div>
                    <div class="mt-3">
                        <a name="" id="generateQRCodeBtn" class="btn btn-primary" href="#" role="button">
                            <i class="bi bi-download"></i>
                            Generate new QR code
                        </a>
                        <a name="" id="" class="btn btn-primary ml-3" href="#" role="button">
                            <i class="bi bi-download"></i>
                            Download QR Code
                        </a>

                    </div>


                </div>
                <hr>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Trạng thái</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" {{#if table.is_available}}checked{{/if}}
                            id="defaultCheck1" name="is_available">
                        <label class="form-check-label" for="defaultCheck1">
                            Có sẵn
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a name="" id="" class="btn btn-outline-success" href="/manager/table" role="button">
                    <i class="bi bi-skip-backward-fill"></i>
                </a>
                <button type="submit" class="btn btn-danger" formaction="/admin/categories/del">
                    <i class="bi bi-trash"></i>
                    delete
                </button>
                <button type="submit" class="btn btn-primary" formaction="/manager/table/patch">
                    <i class="bi bi-check2"></i>
                    save
                </button>

            </div>
        </div>
    </div>
    <script>
        document.getElementById('qrcode_image').src = `https://api.qrserver.com/v1/create-qr-code/?data=${{table.qr_code}}&size=100x100`;     

        document.getElementById('generateQRCodeBtn').addEventListener('click', async function () {
            const response = await fetch('/manager/table/generate_qr_code');
            const qr_code = await response.json();
            const qrCodeText = qr_code.qrcode;

            if (qr_code) {
                if (qrCodeText) {
                    // Thêm timestamp vào URL để tránh bộ nhớ đệm
                    const timestamp = new Date().getTime();
                    document.getElementById('qrcode_image').src = `https://api.qrserver.com/v1/create-qr-code/?data=${qrCodeText}&size=100x100&timestamp=${timestamp}`;
                    document.getElementById('qrcode_text').value = qrCodeText;
                }
            }
            console.log(qr_code);

        });

    </script>
</form>